.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: 10;
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  height: 7.5rem;
  align-items: center;
  justify-content: center;
  position: sticky;
  flex-direction: column;

  nav {
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      gap: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .user_btn {
        width: auto;
        height: 3rem;
        background: none;
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 37.6px;
          height: 37.6px;
          object-fit: cover;
          border-radius: 50%;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-color: transparent;
        }
      }

      .dropdown-menu {
        padding: 0;
        section {
          border-bottom: 1px solid var(--border-color);
          padding: 1rem;
          .dropdown-item {
            padding: 0.5rem;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 4px;

            a {
              color: var(--black-color);
              display: flex;
              align-items: center;
              gap: 0.5rem;
              height: 100%;
              width: 100%;

              svg {
                color: var(--main-color);
                margin: 0 !important;
              }
            }

            &:hover a {
              color: var(--main-color);
            }
          }
        }
      }
    }

    .nav_links {
      flex: 25;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 0;
      padding: 0 3rem;
      gap: 2rem;

      li {
        padding: 10px 0;

        &:last-child {
          button {
            white-space: nowrap;
          }
        }

        a {
          color: var(--gray-color);
          text-decoration: none;
          white-space: nowrap;

          &.active {
            color: var(--color-black);
          }

          &:hover {
            color: var(--gray-color);
          }
        }
      }
    }

    .nav_icons {
      gap: 0.5rem;
      margin: 0 10px;
      align-items: center;
      .notifications {
        .dropdown-menu {
          overflow-y: auto !important;
          width: 350px;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
          .dropdown-toggle {
            border: none;
          }
        }
        .scroll_menu {
          overflow-y: scroll;
          height: 252px;
          .dropdown-item {
            position: relative;
            padding: 10px;
            border-bottom: 1px solid #eee;
            width: 100%;

            p {
              margin: 0;
              font-size: 12px;
              color: var(--gray-color);
              padding: 8px 1rem;
            }
            h6 {
              text-align: start !important;
              font-size: 14px;
              flex-grow: 1;
              margin: 0;
            }
            .time {
              white-space: nowrap;
              font-size: 12px;
            }
            .text-wrap {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              gap: 6px;
              p {
                text-align: start;
              }
              .status {
                align-items: center;
                background-color: var(--main-color);
                border-radius: 50%;
                display: flex;
                font-size: 12px;
                height: 24px;
                width: 24px;
                justify-content: center;
                line-height: 20px;
                position: relative;
                width: 24px;
                i {
                  color: var(--white-color);
                }
              }
            }
            .image-wrapper {
              width: 42px;
              height: 42px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              position: relative;
              align-items: center;
              justify-content: center;
              i {
                font-size: 24px;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &:not(:last-of-type) {
              &::after {
                content: "";
                width: 100%;
                bottom: 0;
                height: 1px;
                background: var(--LightGray);
                position: absolute;
                right: 0;
              }
            }
          }
        }
        .showall {
          font-size: 12px;
          padding: 10px;
          color: var(--gray-color);
        }
      }
      .btn {
        position: relative;
        .num-count {
          position: absolute;
          width: 18px;
          height: 18px;
          color: var(--white-color);
          background: var(--main-color);
          top: 2px;
          right: 2px;
          border-radius: 50%;
          font-size: 10px;
          padding-top: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .Categories_Slider_item {
    color: var(--gray-color);

    a {
      color: var(--grag-color);
      text-decoration: none;

      &:hover {
        color: var(--gray-hover-color);
      }
    }
  }
}

.logo {
  color: var(--color-black);
  text-decoration: none;
  font-size: 1.25rem;
  width: 140px;
  img {
    max-width: 100%;
  }
}

.search_box {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--white-color);
  height: 64px;
  border-radius: 12px;
  padding: 8px;
  flex: 1;

  input {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;

    &::placeholder {
      color: var(--gray-color);
    }

    &:focus {
      outline: none;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--white-color);
    outline: none;
    border: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 12px;
  }
}

/*   Open state of the dialog  */
dialog[open] {
  transform: translateX(0);
}

dialog.ar[open] {
  transform: translateX(0);
}

@starting-style {
  dialog[open] {
    transform: translateX(-100%);
  }

  dialog.ar[open] {
    transform: translateX(100%);
  }
}

/*   Closed state of the dialog   */
dialog {
  transform: translateX(-100%);
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 10;
  width: 300px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--white-color);
  min-height: 100vh;
  transition: transform 0.4s ease-out, overlay 0.4s ease-out allow-discrete,
    display 0.4s ease-out allow-discrete;

  &.ar {
    transform: translateX(100%);
    left: auto;
    right: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.25rem;
      font-size: 1.125rem;
      border: none;
      background-color: transparent;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.15s ease-out;
      color: var(--color-black);

      &:hover {
        background-color: var(--gray-hover-color);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;

    li {
      width: 100%;
      cursor: pointer;
      transition: var(--main-transition);
      &:hover a {
        color: var(--black-color);
      }
      .accordion {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .accordion-item {
        border: none;
      }
      .accordion-header {
        border: none;
        span {
          flex: 1 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
      .accordion-button {
        padding: 8px 0;
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: transparent !important;
        box-shadow: none;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &:not(.collapsed) {
          color: var(--main-color);
        }
      }
      .accordion-body {
        border: none;
      }
      a {
        width: 100%;
        text-decoration: none;
        transition: var(--main-transition);
        color: var(--gray-color);

        &:hover {
          color: var(--black-color);
        }
      }
    }
  }
}

.header_swiper {
  width: 100%;
  margin-top: 8px;
  .swiper {
    padding: 0 48px;
  }
  button {
    border: none;
    background-color: transparent;
    color: var(--gray-color);
    &:hover {
      color: var(--secondary-color);
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background: var(--white-color);
    color: var(--gray-color);
    border-radius: 50%;
    width: 48px;
    right: -4px;

    &::after {
      content: "\f105";
      background: none;
      font-size: 20px;
      /* margin-top: 4px; */
      font-family: "Font Awesome 6 Pro";
    }
  }

  .swiper-button-prev {
    left: -4px;

    &::after {
      content: "\f104";
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.toggler {
  height: 37.6px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 12px;
  border: 0 !important;
  box-shadow: none !important;
}
