.first_section {
  position: relative;
}

.search_home {
  background-image: url(https://placehold.co/1300x535);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    h1 {
      text-align: center;
      text-transform: capitalize;
      color: var(--white-color);
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      p {
        margin-bottom: 0.25rem;
      }
    }
  }
}
.swiper_cntainer {
  position: relative;
  bottom: 3.75rem;
  left: 0;
  .swiper-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .swiper-slide {
      height: 100%;
    }
  }
}
