@import "./header.css";
@import "./footer.css";
@import "./cards.css";
@import "./login.css";
@import "./home.css";
@import "./sections.css";
@import "./services.css";
@import "./cart.css";
@import "./myCollections.css";
@import "./projects.css";
@import "./account.css";
@import "./orders.css";
@import "./chats.css";
@import "./profile.css";
@import "./portfolios.css";
@import "./blogs.css";
@import "./about.css";
@import "./communities.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Din";
  src: url("../webfonts/din-next-lt-w23-regular.ttf");
}
:root {
  --main-color: #003912;
  --main30-color: #00391254;
  --main-hover-color: #00451a;
  --secondary-color: #222325;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #666363;
  --gray-hover-color: #95979d;
  --card-border-radius: 0.5rem;
  --border-color: #e4e5e7;
  --service-card-bg: #f6f5f5;
  --input-background-color: #f1fffa;
  --card-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  --main-transition: all 300ms ease;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Din", sans-serif;
}

/* Scrollbar Container */
::-webkit-scrollbar {
  width: 8px;
  /* Width of vertical scrollbar */
  height: 8px;
  /* Height of horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light gray background */
  border-radius: 10px;
  /* Rounded corners */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: var(--gray-color);
  /* Darker gray thumb */
  border-radius: 10px;
  /* Rounded corners */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-hover-color);
  /* Darker gray on hover */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: var(--black-color);
}

.langButton {
  white-space: nowrap;
}

.form_input {
  width: 100%;
  label {
    color: var(--black-color);
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    align-self: start;
  }

  input {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #e8faf4;
    box-shadow: none !important;
    border: 1px solid #e8faf4;

    &:focus {
      border-color: #003912;
    }
  }
}

.form_textarea {
  background-color: #e8faf4;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: vertical;
  width: 100%;

  &:focus-visible,
  &:focus-visible,
  &:focus-within {
    border: none;
    outline: none;
  }
}

.form_select {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;

  lable {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    align-self: start;
  }

  select {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: none !important;
    background-color: #e8faf4;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;

  p {
    margin: 0;
  }

  a {
    color: var(--black-color);
    font-size: 1.1rem;
    line-height: 1.5rem;

    &:hover {
      color: var(--main-color);
    }
  }
}

.pagination {
  .page-item {
    margin: 0 0.25rem;
  }

  .active {
    .page-link {
      background-color: #003912;
      color: white;
    }
  }

  .page-item {
    border-radius: 0.75rem;
  }

  .page-link {
    border: none !important;
    color: var(--secondary-color);
    border-radius: 0.75rem !important;

    &:hover {
      background-color: (var --gray-hover-color);
    }
  }
}

.details_header {
  background-color: transparent;
  text-transform: capitalize;

  .breadcrumb {
    padding: 0;
    margin: 0;

    .breadcrumb-item {
      a {
        color: var(--black-color);
        font-size: 1rem;
        font-weight: 400;
      }

      &::before {
        padding: 0;
        float: none;
        margin: 0 0.25rem;
      }
    }
  }
}

.empty_section {
  min-height: calc(100dvh - 350px);
  color: var(--main30-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.small_header_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h6 {
    font-size: 1rem;
    font-weight: 600;
  }

  svg {
    cursor: pointer;
  }
}

/* multi select styles  */
.css-13cymwt-control {
  background-color: #e8faf4 !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0.25rem 0.5rem !important;
  border-radius: 0.5rem !important;

  &:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
}

/* Data loader styles  */
.tableLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tableLoader .loader--style8 {
  width: 80px;
  height: 80px;
}

.tableLoader svg path,
.tableLoader svg rect {
  fill: var(--main-color);
}

/* error page styles  */
.cart-section {
  margin-bottom: 60px;

  .error-section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      height: 300px;
      margin-bottom: 24px;
    }

    h2 {
      margin: 0;
      text-align: center;
      text-wrap: balance;
      font-size: 48px;
      font-weight: 800;
      color: #cecece;
    }

    a {
      min-width: 200px;
      margin-top: 36px;
      border: 1px solid var(--main-color);
      color: var(--main-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      transition: var(--main-transition);
      border-radius: 12px;
      gap: 8px;
      background: none;
      display: flex;
      align-items: center;
      font-size: 16px;

      i {
        font-size: 16px;
      }

      &:hover {
        background: var(--main-color);
        color: #fff;
      }
    }
  }
}

/* pay modal styles  */
.pay_modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem !important;

  .tab-content {
    position: relative;

    .conditions-wrapper {
      position: relative;
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--LightGray);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--LightGray);
      }

      .checkbox-group {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

        input {
          &::after {
            width: 16px;
            height: 16px;
          }
        }

        label {
          font-size: 16px;
        }
      }

      .condition-note {
        position: relative;
        font-size: 14px;
        margin: 0;
        color: var(--text-color);
        line-height: 1.6;
      }
    }
  }

  .form {
    align-items: flex-start !important;
  }

  .nav {
    background-color: var(--gray-background);
    padding: 0 !important;
    border-radius: 12px !important;

    .nav-item {
      border-radius: 12px !important;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 16px;
        color: var(--dark-color);
        transition: var(--transition);

        &.active {
          background-color: var(--main-color);
          color: var(--white-color);
        }

        i {
          font-size: 16px;
        }
      }
    }
  }

  .cancel-btn {
    border: 1px solid var(--black-color);
    color: var(--black-color);
    width: 100%;
    outline: none;
    background: none;
    padding: 8px;
    border-radius: 8px;
  }

  .delete-btn {
    width: 100%;
    padding: 8px;
    background: red;
    color: var(--white-color);
    border-radius: 8px;
    border: 0;
    outline: none;
  }

  .order-now {
    width: 100%;
    padding: 8px;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 8px;
    border: 0;
    outline: none;
  }

  .current_ballance {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    div {
      margin: 0 !important;
    }
  }

  h3 {
    color: var(--black-color);
    font-weight: bold;
    text-align: center;
    font-size: 16px;

    span {
      font-size: 24px;
      color: var(--main-color);
    }

    i {
      color: var(--text-color);
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  .bank-transfer-box {
    width: 100%;

    input {
      display: none;

      &:checked + label {
        border-color: var(--main-color);
      }
    }

    label {
      background-color: var(--gray-background);
      border: 2px solid var(--gray-background);
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      display: flex;
      gap: 24px;
      position: relative;
      cursor: pointer;
      transition: var(--transition);
    }

    .image-wrapper {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 24px;
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;

      h5 {
        margin: 0;
      }

      .info-boxes-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 24px;

        .info-box {
          display: flex;
          align-items: center;
          gap: 4px;
          position: relative;
          font-size: 14px;
          margin: 0;
          color: var(--text-color);

          i {
            font-size: 12px;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-color);
          }
        }
      }
    }
  }

  .btn {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    transition: var(--main-transation);
    border-radius: 12px;
    gap: 4px;
    background: none;

    i {
      margin: 0 4px;
    }

    &:hover {
      background: var(--main-color);
      color: #fff;
    }
  }
}

.add-work {
  display: flex;
  gap: 24px !important;
  flex-direction: column !important;
  padding: 0.75rem !important;

  .modal-header {
    .modal-title {
      font-size: 0.75rem !important;
      font-weight: bold !important;
    }

    .btn-close {
      width: 0.75rem !important;
      height: 0.75rem !important;
    }
  }
  .modal-body {
    min-width: 300px;
    width: 50%;
    flex: 1 0 0;
    padding: 0 !important;
    height: 100% !important;
    position: relative;
    display: flex;
    flex-direction: row-reverse !important;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  .image_field {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;

    label {
      color: var(--black-color);

      i {
        color: var(--main-color);
      }
    }

    .imagewrap {
      border-radius: 12px;
      padding: 12px;
      border: 1px solid var(--LightGray);
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        display: none;
      }

      .img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          object-fit: scale-down;
        }
      }
    }
  }

  .form {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--main-color);
      transition: var(--main-transition);
      color: var(--white-color);
      border: none;
      border-radius: 8px;
      outline: none;
      width: 100%;
      height: 40px;
    }
  }
}

.collection_modal_container .modal-content {
  padding: 1rem !important;
}

.pagination_component {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
  justify-content: center;

  img {
    opacity: 50%;
    transition: opacity 0.2s;
  }

  button:hover {
    img {
      opacity: 100%;
    }
  }

  button.disabled:hover {
    img {
      opacity: 50%;
    }

    cursor: default;
  }

  .reverse {
    img {
      transform: rotate(180deg);
    }
  }

  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    span {
      color: var(--dark-color);
      font-weight: 600;
    }
  }
}

.numbers {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;

  button {
    background: transparent;
    border: none;
    border-radius: 12px;
    width: 42px;
    height: 42px;
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 500;
    transition: 0.3s;
    color: var(--text-color);

    &:hover {
      background: var(--main30-color);
    }

    &.active {
      background: var(--main-color);
      color: var(--white-color);
    }
  }
}

.paginator_btns {
  display: flex;
  align-items: center;

  &.rotate {
    button {
      transform: rotate(180deg);
    }
  }

  button {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      color: var(--text-color);
      font-size: 18px;
    }

    &.disabled {
      opacity: 50%;
      pointer-events: none;
    }

    &:hover {
      background: var(--main30-color);

      i {
        color: var(--dark-color);
      }
    }
  }
}
