/* Services Section and filter styles  */

.sercives_container {
  display: grid;
  position: relative;
  gap: 1rem;
  grid-template-columns: 20rem 1fr;
  .services_header_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    h1 {
      font-size: 1.5rem;
    }

    button {
      border: none;
      background-color: transparent;

      svg {
        font-size: 2rem !important;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @media (min-width: 768px) {
    .services_header_mobile {
      display: none;
    }
  }

  @media (width: 768px) {
    .services_header_mobile {
      display: flex;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);

    justify-content: start;
    background-color: var(--white-color);
    transition: var(--main-transition);
    border-radius: 1rem !important;

    @media (max-width: 768px) {
      position: fixed;
      overflow-y: scroll;
      top: 125px;
      left: -100%;
      z-index: 10;
      width: 100%;
      height: calc(100vh - 125px);
    }

    &.active {
      left: 0;
    }

    .filter_sidebar_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;

      @media (min-width: 768px) {
        display: none;
      }

      h2 {
        font-size: 1rem;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: var(--main-color);

        svg {
          color: var(--white-color);
        }
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: normal;
    }

    .sections_filter {
      margin: 1rem 0;
      padding: 1rem 0;
      border-bottom: 1px solid var(--border-color);
    }

    .accordion {
      .accordion-item {
        background-color: var(--white-color);
        border: none;

        .department_header {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: space-between;

          label {
            flex: 1 0 0;
            display: flex;
            font-size: 0.9rem;
            align-items: center;
            gap: 10px;
          }

          input[type="checkbox"] {
            accent-color: var(--main-color);
          }

          .accordion-button {
            width: 12px;
            height: 12px;
            position: relative;
            background-color: var(--white-color);
            border: none;
            box-shadow: none;

            &::after {
              content: none;
            }

            .horizontal {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 12px;
              height: 1px;
              background-color: var(--black-color);
              transform: translate(-50%, -50%);
            }

            &.collapsed {
              .vertical {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1px;
                height: 12px;
                background-color: var(--black-color);
                transform: translate(-50%, -50%);
                transition: all 300ms ease-in-out;
              }
            }

            .vertical {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 1px;
              height: 12px;
              background-color: var(--black-color);
              transform: translate(-50%, -50%) rotate(90deg);
              transition: var(--main-transition);
            }
          }
        }

        .accordion-collapse {
          width: 100%;
          position: relative;

          .accordion-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .form-check {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              input[type="checkbox"] {
                accent-color: var(--main-color);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: static;
    transform: none;
    transition: none;
    overflow-y: auto;
    height: fit-content;
  }
}

@media (width: 768px) {
  .sidebar {
    position: fixed;
    top: 10rem;
    left: 0;
    height: fit-content;
    background-color: var(--white-color);
    min-width: 20rem;
    width: 97%;
    margin: 0 0.75rem 0 0.75rem;
    z-index: 20;
    transform: translate(calc(-100% - 3rem), 0);
    transition: transform 0.3s ease-in-out;
  }
}

.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  .service_card_filter {
    min-width: 16rem;
  }
}

@media (max-width: 768px) {
  .sercives_container {
    grid-template-columns: 1fr;
  }
}

.css-1nmdiq5-menu {
  z-index: 1000 !important;
}

/* Add service styles  */

.progress {
  position: fixed;
  z-index: 10;
  top: 120px;
  left: 0;
  width: 100%;
  height: 10px;
  border-radius: 0;

  .progress-bar {
    border-radius: 0.5rem;
    background-color: var(--main-color);
  }
}

.input_field {
  .css-13cymwt-control {
    background-color: #e8faf4;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.input_field_img {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;

  .images_grid_upload {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .file_upload {
      border: 1px solid var(--border-color);
      border-radius: 12px;
      width: calc(100% / 4 - 6px);
      height: 150px;

      label {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        input {
          display: none;
        }

        img {
          height: 60px;
        }

        .file_upload_dimensions {
          color: var(--border-color);
          font-weight: 600;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }
      }
    }

    .uploaded_file {
      border: 1px solid var(--border-color);
      border-radius: 12px;
      width: calc(100% / 4 - 6px);
      position: relative;
      height: 150px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: red;
        border: none;
        color: var(--black-color);
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .doc_icon {
        flex-direction: column;
        gap: 4px;

        span {
          font-size: 10px;
          line-height: normal;
          color: var(--check-color);
        }

        img {
          width: auto;
          height: 50px;
        }
      }
    }
  }
}

.add_more_devlop {
  margin-top: 1.5rem;

  .add_develop_button {
    margin: 0;
    padding: 0.8rem 0.8rem;
    height: 3rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);

    svg {
      margin: 0.5rem;
    }
  }

  .add_more_model {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 12px;
    background: var(--white-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-top: 1rem;

    .delete_model {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.75rem;

      svg {
        font-size: 1.5rem;
        color: var(--main-color);
        cursor: pointer;
      }
    }

    .input-field {
      gap: 0;

      input {
        background: var(--white-color);
      }
    }
  }
}

.buttons_Container {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
  align-items: center;

  .back_button {
    margin: 0;
    padding: 0.8rem 0.8rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);

    svg {
      color: var(--white-color);
    }
  }

  .add_service_button {
    margin: 0;
    padding: 0.8rem 0.8rem;
    height: 3rem;
    width: auto;
    display: flex;
    align-items: center;
    color: var(--white-color);
    border-radius: 12px;
    outline: none;
    border: none;
    justify-content: center;
    background-color: var(--main-color);

    svg {
      margin: 0.5rem;
    }
  }
}

/* Service Details page Styles  */

.service_details_component {
  .image_card {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  }

  .service_description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    p {
      font-size: 1rem;
      margin: 0;
      line-height: 1.7rem;
    }
  }

  .buyer_instructions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    ul {
      display: flex;
      list-style-type: disc;
      align-items: center;
      margin: 0 1.8rem 0 1rem;
      gap: 1rem;

      li {
        font-size: 0.8rem;
        margin-left: 1rem;

        &::marker {
          color: var(--main-color);
        }
      }
    }
  }

  .adds_on {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        display: flex;
        align-items: start;
        margin-left: 1rem;
        gap: 1rem;

        input[type="checkbox"] {
          accent-color: var(--main-color);

          margin-top: 0.2rem;
        }

        label {
          font-size: 0.8rem;

          p:first-child {
            margin: 0;
            margin-bottom: 0.25rem;
            font-weight: bold;
          }

          p:last-child {
            margin: 0;
            margin-bottom: 0.25rem;
            color: var(--gray-color);
            font-weight: 400;
          }
        }
      }
    }
  }

  .add_cart {
    width: 100%;
    background: var(--gray-background);
    border-radius: 0.9rem;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    .input_field {
      display: flex;
      gap: 0.75rem;
      width: 100%;

      button {
        min-width: 3rem;
        max-width: 3rem;
        height: 3rem;
        background: var(--main-color);
        border: none;
        border-radius: 0.75rem;

        svg {
          color: var(--white-color);
        }
      }

      input {
        outline: none;
        text-align: center;
        width: 100%;
        height: 3rem;
        border: 1px solid var(--border-color);
        background: var(--input-background-color);
        font-weight: 600;
        color: var(--black-color);
        border-radius: 0.75rem;

        &::-webkit-outer-spin-button {
          appearance: none;
        }

        &::-webkit-inner-spin-button {
          appearance: none;
        }
      }
    }

    .total {
      width: 100%;

      p {
        margin: 0;
        color: var(--black-color);

        span {
          color: var(--text-color);
        }
      }

      h6 {
        color: var(--main-color);
        font-weight: bold;
        font-size: 1.3;

        i {
          margin: 0 0.24rem;
          color: var(--text-color);
        }
      }
    }

    .request_order {
      height: 3.2rem;
      width: 100%;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      background: var(--main-color);
      color: #fff;
      border: none;
      border-radius: 0.75rem;
    }
  }
}

.mySwiper {
  .swiper {
    width: 100%;
    aspect-ratio: 6 / 3.5;

    .swiper-slide {
      border-radius: 12px;
      overflow: hidden;
      background-color: var(--gray-background);

      .img {
        aspect-ratio: 6 / 3.5;
        width: 100%;

        img,
        video {
          height: 100%;
          width: 100%;
          border-radius: 12px;
          object-position: center;
          object-fit: cover;
        }
      }
    }

    .swiper-pagination-fraction {
      top: 12px !important;
      left: 12px !important;
      width: 100px !important;
      height: 30px !important;
      direction: ltr !important;
      color: #fff;

      .swiper-pagination-current {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 36px;
      height: 36px;
      background: var(--main-color);
      color: #fff;
      border-radius: 50%;

      &::after {
        font-size: 16px;
      }

      opacity: 0;
      transition: var(--main-transation);
    }

    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
      }
    }
  }
}

.service_card_owner {
  width: 100%;
  border-radius: 1rem;
  background: var(--white-color);
  padding: 1rem;
  margin-bottom: 1.5rem;
  height: auto;
  box-shadow: var(--card-shadow);
  position: relative;

  .owner_card {
    position: absolute;
    left: 50%;
    top: -2rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user_img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
      border-radius: 50%;
    }

    .user_info {
      display: flex;
      flex-direction: column;
      align-items: center;

      h6 {
        font-size: 1rem;
        text-align: center;
        margin: 0;
      }

      p {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        span {
          font-size: 0.8rem;
          white-space: nowrap;
        }
      }
    }
  }

  .label {
    padding: 0.5rem;
    width: 10rem;
    border-radius: 1rem;
    background: var(--white-color);
    color: var(--secontary-color);
    gap: 4px;
  }

  .card_ul {
    margin: 7rem 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    li {
      color: var(--black-color);
      margin: 0;
      font-weight: 500;

      p {
        margin: 0;
      }
    }

    .rate {
      color: var(--main-color);
      font-weight: 600;
    }
  }

  .share_chat_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    button,
    a {
      height: 3rem;
      min-width: 90px;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      border-radius: 0.75rem;
      background-color: var(--main-color);
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      transition: var(--main-transition);

      &:first-child {
        background-color: var(--secondary-color);

        &::after {
          display: none;
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        z-index: 5;
        background: var(--white-color);
        box-shadow: var(--card-shadow);
        border: 1px solid var(--gray-background);
        padding: 24px;

        @media (max-width: 576px) {
          padding: 16px 12px;
        }

        h5 {
          text-align: start;
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 16px;
        }

        p {
          color: var(--text-color);
          margin-bottom: 16px;
        }

        .link {
          width: 100%;
          padding: 0.75rem;
          background-color: var(--input-background-color);
          gap: 0.75rem;
          border-radius: 1rem;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--white-color);

            svg {
              color: var(--main-color);
            }

            &:hover {
              background: var(--main-color);

              svg {
                color: #fff;
              }
            }
          }

          span {
            cursor: pointer;
            color: var(--secondary-color);
            font-size: 0.75rem;
            position: relative;

            .alert {
              position: absolute;
              background: var(--input-bg);
              padding: 0.25rem 0.5rem;
              margin: 0;
              bottom: -42px;
              left: 50%;
              transform: translateX(-50%);
              transition: var(--main-transation);
              opacity: 0;

              &::after {
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                width: 1rem;
                height: 0.625rem;
                background: var(--input-bg);
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -10px;
              }
            }
          }
        }

        .social {
          display: flex;
          gap: 1.25rem;

          @media (max-width: 576px) {
            gap: 1rem;
          }

          li {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 0.8rem;
            white-space: nowrap;

            a {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--main30-color);

              svg {
                color: var(--main-color);
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

.go_profile_btn {
  background-color: var(--main-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  transition: var(--main-transition);

  &:hover {
    background-color: var(--main-hover-color);
  }
}

.service_details_sections_header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  color: var(--main-color);

  h6 {
    font-weight: bold;
    margin: 0;
  }
}

.service_details_page {
  .header_container {
    background-color: #f1fffa;
    color: var(--black-color);
    padding: 1rem 0;
    margin: 0rem 0 3rem 0;

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

.rating_container {
  margin: 4.7rem 0;

  .header_rate {
    padding: 1rem;
  }
}
